:root {
    --flights-background-color: black;
    --flights-menu-background: #525252;
    --flights-phone-background:#f4f4f4;

}

body {
    padding: 0;
    margin: 0;
    color: var(--lyrics-analysis-ink-color);
    font-family: 'Roboto', sans-serif;
    background: var(--flights-background-color);
    /* font-family: 'IBM Plex Sans', sans-serif; */
}

.container {
    padding: 0;
    margin: 0;
    /* #F5F8FA; #33729b; #9f805e; */
    /*    font-family: 'Open Sans', sans-serif;*/
    /* font-family: 'IBM Plex Sans', sans-serif; */
    /* font-family: 'Questrial', sans-serif; */
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--farrow-background-color);
    /* padding-bottom: 100px; */
}

.grid-container {
    max-width: 600px;
    min-width: 600px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 7px;
    margin:20px;
}

.menuarea {
    font-size:12px;
    color:white;
    width: 260px;
    height: 590px;
    margin-right: 50px;
    background:var(--flights-menu-background);
    padding: 20px;
}

.intro{
    font-weight:bold;
}

.blurb{
    margin-top:10px;
}



.title {
    color: white;
    font-size: 14px;
    text-transform: capitalize;
}

.bannerarea {
    height: 80px;
    width: 100%;
}

.title{
    display: flex;
    flex: row;
    height: 40px;
    align-items: center;
    justify-items: center;
}

.phonearea{
    width:300px;
}

.header {
    grid-column-start: 1;
    grid-column-end: -1;
}

.footer {
    grid-column-start: 1;
    grid-column-end: -1;
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: none;
    }
}